@{
    ViewData["Title"] = "Home Page";
}

    @Model Books.ViewModel.HomeViewModel

<div class="text-center">
    <h1 class="display-4">Here's the books:  </h1><br>
    <p>@Model.message</p>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li> book.title</li>
        }
    </ul>
</div>
